<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skip-bo | Lobby</title>
    <%- include('shared/head') %>
    <script src="/js/lobby.js" defer></script>
  </head>
  <body id="lobby">
    <div id="container">
      <%- include('shared/menu') %>

      <div id="content">
        <section id="games-listing">
          
          <button id="create-game-button">Create Game</button>
          <h2>My games</h2>

          <ul id="my-games">
            <% for(let i = 0; i < currentGames.length; i++) { 
              const game = currentGames[i];
            %>
              <li>
                <span class="game-name"><%= game.name.length !== 0 ? game.name : `Game ${game.id}`%></span>
                <a href="/games/<%= game.id %>" class="button" target="_blank">Return</a>
              </li>
            <% } %>
          </ul>

          <h2>Join a new game</h2>

          <ul id="available-games">
            <% for(let i = 0; i < availableGames.length; i++) { 
              const game = availableGames[i];
            %> 
              <li>
                <span class="status waiting">status</span>
                <span class="game-name"><%= game.name.length !== 0 ? game.name : `Game ${game.id}`%></span>
                <span class="game-players"><%= game.player_count %>/<%= game.max_players %></span>
                <form method="post" action="/games/join/<%= game.id %>">
                  <% if(game.password.trim().length !== 0) { %>
                    <input type="text" name="password" />
                  <% } %>
                  <button type="submit">Join</button>
                </form>
              </li>
            <% } %>
          </ul>
        </section>

        <%- include('shared/chat') %>
    </div>

    <%- include('shared/templates') %>
    <%- include("games/create-form") %>
  </body>
</html>
