<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skip-bo | Lobby</title>
    <%- include('shared/head') %>
    <script src="/js/lobby.js" defer></script>
  </head>
  <body id="lobby">
    <div id="container">
      <%- include('shared/menu') %>

      <div id="content">
        <section id="games-listing">
          
          <button id="create-game-button">Create Game</button>
          <h2>My games</h2>

          <ul id="my-games">
            <li>
              <span class="status waiting">status</span>
              <span class="game-name">Game Name</span>
              <span class="game-players">Players</span>
              <a href="/games/42" class="button" target="_blank">Join</a>
            </li>
            <li>
              <span class="status playing">status</span>
              <span class="game-name">Game Name</span>
              <span class="game-players">Players</span>
              <a href="/games/42" class="button" target="_blank">Join</a>
            </li>
          </ul>

          <h2>Join a new game</h2>

          <ul id="available-games">
            <li>
              <span class="status waiting">status</span>
              <span class="game-name">Game 1</span>
              <span class="game-players">Players</span>
              <form method="post" action="/games/join/1">
                <input type="text" name="password" />
                <button type="submit">Join</button>
              </form>
            </li>
            <li>
              <span class="status waiting">status</span>
              <span class="game-name">Game 2</span>
              <span class="game-players">Players</span>
              <form method="post" action="/games/join/2">
                <button type="submit">Join</button>
              </form>
            </li>
          </ul>
        </section>

        <%- include('shared/chat') %>
    </div>

    <%- include('shared/templates') %>
    <%- include("games/create-form") %>
  </body>
</html>
