<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Skip-bo | Lobby</title>
    <%- include('shared/head') %>
  </head>
  <body>
    <div id="container">
      <%- include('shared/menu') %>
      <h1>
        <img
          src="https://gravatar.com/avatar/<%= user.gravatar %>?d=identicon"
          alt="Gravatar"
          class="gravatar"
        />
        Welcome <%= user.email %> (<%= user.id %>)
      </h1>

      <div id="content">
        <section id="game-listing">
          This is the game listing section TODO
        </section>
        <section id="chat-container">
          <div id="messages"></div>
          <form>
            <input type="text" name="message" id="message-input" />
            <button type="submit" id="send-button">Send</button>
          </form>
        </section>
      </div>
    </div>
    <%- include('shared/templates') %>
  </body>
</html>
